<app-app-menu>
        <!--Lista de Restaurantes en la plataforma-->
        <div class="column table-container">
            <div class="container columns">
                <div class="column">
                    <h1 class="title is-1 texto-morado ">Restaurantes</h1>
                </div>
    
                <div class="column is-pulled-right">
                    <button class="is-pulled-right button " routerLink="/restaurante-register">Crear Restaurante</button>
                </div>
            </div>
            <hr>
    
            <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                <thead>
                    <tr>
                        <th class="title title is-4 morado">Restaurante</th>
                        <th class="title title is-4 morado">Destino</th>
                        <th class="title title is-4 morado">Precio</th>
                        <th class="title title is-4 morado">Acciones</th>
                    </tr>
                </thead>
    
                <tbody>
                    <tr *ngFor="let restaurante of restaurantes">
                        <th>{{restaurante.data.nombre}}</th>
                        <th>
                            <ul *ngFor="let destino of destinos">
    
                                <li *ngIf="restaurante.data.destinoReference == destino.id">{{destino.data.nombre}}</li>
                            </ul>
    
                        </th>
                        <th>{{restaurante.data.precio_promedio | currency}}</th>
                        <td>
                            <div class="buttons is-pulled-right">
                                <button class="button is-primary " routerLink = "/restaurante-edit/{{restaurante.id}}">Editar</button>
                                <button class="button is-danger " (click)= "deleteRestaurante(restaurante)">Eliminar</button>
                            </div>
    
                        </td>
    
                    </tr>
                </tbody>
            </table>
        </div>
    
        <!--Termina lista de restaurantes-->
    
    
    </app-app-menu>